.postcodes-input {
    outline: none;
}
.postcodes-input.is-valid {
    border-color: #28a745 !important;
}
.postcodes-input.is-invalid {
    border-color: #dc3545 !important;
}
.postcodes-input.is-invalid-pattern {
    border-color: #c4891c !important;
}
.postcodes-input.is-invalid-min {
    border-color: #c6c910 !important;
}
.postcodes-input.is-invalid-max {
    border-color: #c6c910 !important;
}