[project]
name = "build_a_brain"
version = "0.0.2"
authors = [
  { name="Noah Stanis", email="stani123@uw.edu" },
]
description = "Builds a LIF neural network"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/pypa/sampleproject"
Issues = "https://github.com/pypa/sampleproject/issues"