/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/WorkspaceSettings/AddMember.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AddMembers {
  padding: 36px 40px;
}

.AddMembers-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AddMembers-textarea {
  display: flex;
  width: 100%;
  margin-top: 8px;
  font: normal 18px/32px "Inter", system-ui, sans-serif;
  color: var(--secondary-color);
  border: none;
  outline: none;
  resize: none;
}
@media (max-width: 544px) {
  .AddMembers-textarea {
    font: normal 18px/32px "Inter", system-ui, sans-serif;
  }
}

.AddMembers-warning {
  padding: 16px 32px;
  border-top: 1px solid rgba(37, 40, 61, 0.08);
  background: rgba(255, 242, 120, 0.16);
}
