/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Tokens/ResourceScopeForm.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ResourceScopeForm.is-short {
  width: 134px;
}
.ResourceScopeForm.is-long {
  width: 225px;
}

.CheckboxField.is-main + label {
  color: #1fcc83;
}
.CheckboxField.is-main + label:before {
  background: none;
  border-color: rgba(31, 204, 131, 0.6);
}
.CheckboxField.is-main + label:hover {
  color: #1fcc83;
}
.CheckboxField.is-main + label:hover:before {
  border-color: #1fcc83;
}

.CheckboxField.is-main:checked + label {
  color: #1fcc83;
}
.CheckboxField.is-main:checked + label:before {
  background: #1fcc83;
  border-color: #1fcc83;
}
.CheckboxField.is-main:checked + label:after {
  background: #25283d;
  box-shadow: 2px 0 0 #25283d, 4px 0 0 #25283d, 4px -2px 0 #25283d, 4px -4px 0 #25283d, 4px -6px 0 #25283d, 4px -8px 0 #25283d;
}

.CheckboxField.is-main:checked:disabled + label:before,
.CheckboxField.is-main:checked:disabled + label:hover:before {
  background: #1fcc83;
  border-color: #1fcc83;
}

.CheckboxField.is-main:disabled + label,
.CheckboxField.is-main:disabled:hover + label {
  color: #1fcc83;
  opacity: 0.5;
}
.CheckboxField.is-main:disabled + label:before,
.CheckboxField.is-main:disabled:hover + label:before {
  background: inherit;
  border-color: inherit;
}
