/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/Import/File/Selection/index.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FileSelection {
  position: relative;
}

.FileSelection-form {
  position: relative;
}

.FileSelection-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.FileSelection-input {
  position: absolute;
  left: 40;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
}

.FileSelection-textInput {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
}

.FileSelection-fileInput {
  display: none;
}

.FileSelection-cleanInput[disabled] {
  opacity: 0;
}

.FileSelection-label[data-dragging=true] {
  text-decoration: underline;
  color: #1cb675;
}
