/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Table/EditColumn/EditNDJSONColumnHeader.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EditNDJSONColumnHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.EditNDJSONColumnHeader-checkbox {
  flex-shrink: 0;
}
.EditNDJSONColumnHeader-checkbox .CheckboxField::before {
  width: var(--spacing-4);
  height: var(--spacing-4);
}
.EditNDJSONColumnHeader-headerInput {
  max-width: calc(100% - 40px);
  padding-right: 8px;
  flex-shrink: 1;
}
.EditNDJSONColumnHeader-headerInput .FreeInput-simple {
  display: inline-block;
}
.EditNDJSONColumnHeader-options {
  margin-left: auto;
  flex-shrink: 0;
}
.is-discarded .EditNDJSONColumnHeader .EditNDJSONColumnHeader-headerInput .FreeInput-simple {
  color: #717380;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Tree/Tree.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Tree {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  isolation: isolate;
  overflow: auto;
}
.Tree.hidden {
  display: none;
}
.Tree * {
  box-sizing: border-box;
}
.Tree-column-header {
  position: sticky;
  top: 0;
  min-width: 250px;
  z-index: 1;
  background-color: #f6f6f7;
  border-top: 1px solid rgba(37, 40, 61, 0.08);
  border-bottom: 2px solid rgba(37, 40, 61, 0.08);
}
.Tree-column-header-content {
  padding: 8px 24px;
  line-height: 24px;
  border-right: 1px solid rgba(37, 40, 61, 0.08);
}
.Tree-column-header-text {
  line-height: 24px;
}
.Tree-data-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f6f6f7;
  border-top: 1px solid rgba(37, 40, 61, 0.08);
  border-bottom: 2px solid rgba(37, 40, 61, 0.08);
  padding: 8px 24px;
  line-height: 24px;
}
.Tree-header-resizer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  height: 100%;
  width: 8px;
  cursor: col-resize;
}
.Tree-header-resizer.resizing {
  border-right: 2px solid var(--alternative-color);
}
.Tree-header-resizer:hover {
  border-right: 2px solid var(--alternative-color);
}
.Tree-column {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid rgba(37, 40, 61, 0.08);
  border-right: 1px solid rgba(37, 40, 61, 0.08);
  height: 40px;
}
.Tree-column.is-discarded, .Tree-column.is-empty {
  background-color: rgba(37, 40, 61, 0.04);
  color: rgba(113, 115, 128, 0.4);
}
.Tree-column.is-discovered {
  background-color: #fff;
  border-bottom: 1px solid #1fcc83;
  box-shadow: 0 2px #1fcc83 inset, 0 -1px #1fcc83 inset;
}
.Tree-column.is-discovered > * {
  line-height: 24px;
}
.Tree-column.is-discovered + .Tree-column.is-discovered {
  box-shadow: 0 -1px #1fcc83 inset;
}
.Tree-column.is-focused {
  outline: 1px solid rgba(37, 40, 61, 0.4);
}
.Tree-column.hidden {
  display: none;
}
.Tree-column.no-border {
  border-right: 0px;
}
.Tree-column-object {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Tree-column-object-name {
  line-height: 24px;
}
.Tree-column-checkbox {
  flex-shrink: 0;
}
.Tree-column-name {
  display: flex;
  line-height: 24px;
  margin-right: 24px;
  flex-shrink: 9999;
  flex-grow: 1;
  overflow: hidden;
  min-width: 24px;
}
.Tree-column-input {
  line-height: 23px;
  display: inline-block;
}
.has-errors .Tree-column-name {
  color: var(--error-color);
}
.has-errors.is-discarded .Tree-column-name, .has-errors.is-empty .Tree-column-name {
  color: rgba(247, 99, 99, 0.8);
}
.Tree-column-type {
  margin-left: auto;
  line-height: 16px;
  color: rgba(37, 40, 61, 0.4);
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Tree-column-options {
  margin-left: 24px;
  min-width: 16px;
  flex-shrink: 0;
}
.Tree-data {
  white-space: nowrap;
}
.Tree-data-cell {
  display: flex;
  align-items: center;
  line-height: 24px;
  padding: 0 24px;
  border-bottom: 1px solid rgba(37, 40, 61, 0.08);
  height: 40px;
}
.Tree-data-cell-empty-content {
  height: 40px;
}
.Tree-data-cell.is-discarded, .Tree-data-cell.is-empty {
  background-color: rgba(37, 40, 61, 0.04);
  color: rgba(113, 115, 128, 0.4);
}
.Tree-data-cell.has-errors {
  color: var(--error-color);
}
.Tree-data-cell.has-errors.is-discarded, .Tree-data-cell.has-errors.is-empty {
  color: rgba(247, 99, 99, 0.8);
}
.Tree-data-cell.hidden {
  display: none;
}
.Tree-data-cell.is-discovered {
  background-color: #fff;
  border-bottom: 1px solid #1fcc83;
  box-shadow: 0 2px #1fcc83 inset, 0 -1px #1fcc83 inset;
}
.Tree-data-cell.is-discovered + .Tree-data-cell.is-discovered {
  box-shadow: 0 -1px #1fcc83 inset;
}

.Tree::-webkit-scrollbar {
  width: var(--scrollbar-width, 11px);
}

.Tree::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-width, 11px);
}

.Tree::-webkit-scrollbar-track {
  background: transparent;
}

.Tree::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--scrollbar-color, var(--neutral-300-color));
  border: 3px solid var(--scrollbar-background-color, var(--neutral-color));
  border-radius: 100px;
}
.Tree::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--scrollbar-background-color, var(--neutral-color));
  background: var(--scrollbar-hover-color, var(--neutral-400-color));
}

.Tree:hover::-webkit-scrollbar-thumb {
  visibility: initial;
}

.Tree::-webkit-scrollbar-corner {
  background: var(--scrollbar-background-color, var(--neutral-color));
}

.Tree * {
  scrollbar-color: var(--scrollbar-color, var(--neutral-300-color)) transparent;
  scrollbar-width: 9px;
}
