/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/JobsLog.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.JobsLog {
  gap: 0;
}
.JobsLog .ag-pinned-right-header,
.JobsLog .ag-pinned-right-cols-container {
  background: var(--neutral-color);
  z-index: 1;
}
.JobsLog .ag-pinned-right-cols-container {
  border-right: 1px solid var(--border-100-color);
}
.JobsLog, .JobsLog * {
  box-sizing: border-box;
}
