/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/New.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NewTimeSeries {
  cursor: default;
  background-color: #ffffff;
  max-width: 620px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: var(--secondary-color);
  border-radius: 4px;
}
.NewTimeSeries-header {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.NewTimeSeries-subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.NewTimeSeries-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.NewTimeSeries-label {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #636679;
  margin-bottom: 4px;
}
.NewTimeSeries-caption {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  opacity: 0.4;
}
.NewTimeSeries-captionLink {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-decoration: underline;
}
.NewTimeSeries-captionLink:hover {
  cursor: pointer;
  color: var(--bold-color);
}
.NewTimeSeries-footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NewTimeSeries-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
