/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/PipelineSnapshots.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.PipelineSnapshots-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.Modal-paneContent.PipelineSnapshots-content {
  border-top: 1px solid rgba(37, 40, 61, 0.16);
  max-height: none;
}

.PipelineSnapshots-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.PipelineSnapshots-itemLink {
  margin-right: 4px;
}

.PipelineSnapshots-stats {
  margin-top: 4px;
}

.PipelineSnapshots-snapshotButtons {
  display: flex;
}
.PipelineSnapshots-snapshotButtons > button, .PipelineSnapshots-snapshotButtons > a {
  padding: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 0;
}
.PipelineSnapshots-snapshotButtons > button:hover, .PipelineSnapshots-snapshotButtons > a:hover {
  border-color: var(--tuna-color);
}
.PipelineSnapshots-snapshotButtons > button:first-child, .PipelineSnapshots-snapshotButtons > a:first-child {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}
.PipelineSnapshots-snapshotButtons > button:last-child, .PipelineSnapshots-snapshotButtons > a:last-child {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.PipelineSnapshots-title {
  border-bottom: 1px solid transparent;
  outline: none;
}
.PipelineSnapshots-title.is-editable:hover, .PipelineSnapshots-title.is-editable:focus {
  cursor: text;
  border-bottom: 1px solid var(--main-color);
}
