/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/RegionSelector/RegionButton.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button.Region-button {
  display: block;
  border: 2px solid var(--tuna-100-color);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  max-height: 230px;
  overflow: hidden;
}
.Button.Region-button.Region-button--selected {
  border: 2px solid var(--main-color);
  background-color: rgba(31, 204, 131, 0.08);
}
.Button.Region-button span {
  font-weight: 500;
}
