/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/Shortcuts.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Shortcuts {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  min-height: 100%;
}

.Shortcuts .Modal-paneContent {
  padding: 0;
  max-height: 520px;
}

.Shortcuts-keys {
  flex: 1;
}

.Shortcuts-feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  padding: 0 56px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(0, 193, 255, 0.04);
  border-left: 1px solid #e4ecef;
}

.Shortcuts-grid {
  font: normal 14px/24px "Inter", system-ui, sans-serif;
  display: grid;
  grid-template-columns: 300px auto;
  grid-row-gap: 16px;
  align-items: center;
  margin-top: 8px;
}
@media (max-width: 544px) {
  .Shortcuts-grid {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}

.Shortcuts-gridDD {
  color: var(--as-color--body);
}

.Shortcuts-gridDT {
  display: flex;
  flex-wrap: nowrap;
  justify-self: flex-end;
  text-align: center;
}
.Shortcuts-gridDT > * {
  color: var(--tuna-color);
}
.Shortcuts-gridDT > .Shortcuts-key {
  display: inline-block;
  min-width: 24px;
  padding: 0 6px;
  box-sizing: border-box;
  color: var(--alternative-color);
  border: 1px solid #00c1ff;
  border-radius: 4px;
  line-height: 24px;
}
