/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/BrowseEntities.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.BrowseEntities-tableWrapper {
  overflow: auto;
}

table.is-simple.BrowseEntities-table {
  margin: 0 40px;
  padding-bottom: 40px;
  width: calc(100% - 80px);
}
table.is-simple.BrowseEntities-table thead th {
  z-index: 3;
}
table.is-simple.BrowseEntities-table thead th:first-child:before,
table.is-simple.BrowseEntities-table thead th:first-child:after {
  left: -40px;
  width: auto;
}
table.is-simple.BrowseEntities-table thead th:last-child:before,
table.is-simple.BrowseEntities-table thead th:last-child:after {
  right: -40px;
  width: auto;
}
table.is-simple.BrowseEntities-table .CheckboxField + label {
  position: relative;
}
table.is-simple.BrowseEntities-table thead th form .CheckboxField + label {
  top: 4px;
}
table.is-simple.BrowseEntities-table tbody td {
  vertical-align: middle;
}
table.is-simple.BrowseEntities-table tbody td form .CheckboxField + label {
  position: relative;
  top: 2px;
}
table.is-simple.BrowseEntities-table tbody tr td:first-child {
  overflow: visible;
}
table.is-simple.BrowseEntities-table tbody tr:last-child td {
  border-bottom: 0;
}

.BrowseEntities-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
}

.BrowseEntities-searchFormInput {
  display: inline;
  width: 100%;
  padding: 0;
  font: normal 14px/24px "Inter", system-ui, sans-serif;
  outline: none;
  border: none;
  color: var(--secondary-color);
}
@media (max-width: 544px) {
  .BrowseEntities-searchFormInput {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}
.BrowseEntities-searchFormInput::placeholder {
  color: var(--neutral-400-color);
}
.BrowseEntities-searchFormInput:disabled {
  background: var(--neutral-color);
}
