/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!../../modules/datasources/src/components/DataSourceRun/DataSourceRun.styles.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DataSourceRun-list {
  display: flex;
  gap: 3px;
  align-items: center;
  max-width: 100%;
  margin-bottom: var(--spacing-0);
}
.DataSourceRun-list:hover .DataSourceRun-itemWrapper {
  opacity: 0.4;
}
.DataSourceRun-list:hover .DataSourceRun-itemWrapper:hover {
  opacity: 1;
}
.DataSourceRun-list--noData {
  pointer-events: none;
}
@media (min-width: 800px) {
  .DataSourceRun-list {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(auto-fit, minmax(4px, 1fr));
    gap: 4px;
    align-items: center;
    max-width: 100%;
    margin-bottom: var(--spacing-2);
    overflow: hidden;
    direction: rtl;
  }
  .DataSourceRun-list .DataSourceRun-itemWrapper {
    width: 100%;
    height: 100%;
  }
}
.DataSourceRun-itemWrapper {
  flex-shrink: 0;
  height: 40px;
  width: 4px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--neutral-200-color);
  transition: opacity 0.2s ease-in-out;
}
.DataSourceRun-item {
  height: 100%;
  width: 100%;
}
.DataSourceRun-item--success {
  background-color: var(--primary-color);
}
.DataSourceRun-item--failed {
  background-color: #de1616;
}
.DataSourceRun-item--paused {
  background-color: var(--neutral-300-color);
}
.DataSourceRun, .DataSourceRun * {
  box-sizing: border-box;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Pipeline/Transformation/Result.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NodeResult {
  position: relative;
  display: block;
  border-top: none;
}
.NodeResult.is-loading {
  min-height: 60px;
}

.NodeResult-loading .Table-columnName.is-loading,
.NodeResult-loading .Table-columnType.is-loading {
  background: rgba(229, 230, 232, 0.75);
}
.NodeResult-loading .ag-cell .ag-cell-value .is-loading {
  background: rgba(229, 230, 232, 0.5);
}

.NodeResult-paginator .NodeResult-paginatorText {
  margin: 4px 0;
}
