/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TTL.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TTL-fields {
  display: flex;
  gap: var(--spacing-2);
  align-items: flex-end;
}
.TTL-combobox .Combobox-button {
  width: var(--ttl-combobox-width, 280px);
}
.TTL-days {
  width: 88px;
  min-width: 88px;
}
.TTL-submit {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.TTL-editor {
  overflow: hidden;
  background-color: var(--secondary-color);
}
.TTL-editorLabel {
  font: normal 13px/16px "ia_writer_mono_sregular", monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--alternative-color);
  background: var(--secondary-color);
  position: absolute;
  z-index: 10;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 544px) {
  .TTL-editorLabel {
    font: normal 12px/16px "ia_writer_mono_sregular", monospace;
  }
}
.TTL-editorField {
  position: relative;
  isolation: isolate;
}
.TTL-editorField .CodeMirror-scroll {
  max-height: 250px;
}
