/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Field.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Field {
  width: 100%;
}
.Field--block {
  display: flex;
  gap: var(--field-gap, var(--spacing-1));
  flex-direction: column;
}
.Field--inline {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--field-gap, var(--spacing-2));
  align-items: center;
}
.Field--inline .Field-label {
  width: var(--field-label-width, auto);
  line-height: 20px;
}
.Field--inline-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: var(--field-gap, var(--spacing-2));
  align-items: center;
}
.Field--inline-reverse .Field-label {
  line-height: 20px;
}
.Field--disabled {
  cursor: not-allowed;
}
.Field--disabled .Field-label {
  cursor: not-allowed;
  color: var(--neutral-500-color);
}
.Field--disabled.Field--dark .Field-label {
  color: var(--neutral-400-color);
}
.Field--dark .Field-label {
  color: var(--neutral-color);
}
.Field-labelWrapper {
  display: block;
  flex-shrink: 0;
}
.Field-labelWrapper--info {
  cursor: pointer;
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}
.Field-labelWrapper--info svg {
  color: var(--neutral-500-color);
}
.Field-labelWrapper--info svg:hover {
  color: var(--neutral-600-color);
}
.Field-label {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--secondary-color);
  word-wrap: break-word;
  -webkit-user-select: none;
          user-select: none;
}
.Field-helperMessage, .Field-errorMessage {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  margin-top: 4px;
}
.Field-helperMessage {
  color: var(--secondary-light-color);
}
.Field-errorMessage {
  color: var(--error-color);
}
