/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Tooltip.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tippy-popper {
  width: max-content !important;
  max-width: 400px !important;
}

.tippy-content {
  background: var(--neutral-600-color) !important;
  padding: var(--spacing-1) var(--spacing-2) !important;
  text-align: left !important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.13), 0 0.6px 2px rgba(0, 0, 0, 0.1) !important;
}

.Tooltip * {
  box-sizing: border-box;
}
.Tooltip-shortcut {
  margin-left: var(--spacing-2);
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}
.Tooltip-shortcutKey {
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  text-transform: capitalize;
  height: 16px;
  min-width: 16px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 3px;
  background-color: var(--neutral-500-color) !important;
  color: var(--neutral-color) !important;
  font-weight: 600;
  display: grid;
  place-items: center;
  font-size: 11px;
  line-height: 16px;
}
.Tooltip-shortcutInner {
  margin: 0 2px;
}
