/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/CodeSnippets.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CodeSnippets {
  position: relative;
  border-radius: 4px;
}
.CodeSnippets-disabled {
  opacity: 0.5;
}
.CodeSnippets-disabled .CodeMirror-lines {
  cursor: not-allowed;
}
.CodeSnippets .CodeMirror-lines {
  padding: 0;
}
.CodeSnippets.has-results {
  border-radius: 4px 4px 0 0;
}

.CodeSnippets-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.CodeSnippets-tabs {
  display: flex;
}

.CodeSnippets-tabItemButton {
  font-family: inherit;
  letter-spacing: 1px;
  color: var(--main-color);
  cursor: pointer;
}
.CodeSnippets-tabItemButton.is-selected {
  color: var(--light-color);
  cursor: default;
}

.CodeSnippets-result {
  padding: 24px;
  border: 1px solid var(--tuna-100-color);
  border-radius: 0 0 4px 4px;
  white-space: pre-wrap;
  max-height: 400px;
  overflow: scroll;
}

.CodeMirror-hscrollbar {
  --scrollbar-color: #3a3f5f;
  --scrollbar-background-color: var(--secondary-color);
  --scrollbar-hover-color: #4d547f;
}

.CodeMirror-hscrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width, 11px);
}

.CodeMirror-hscrollbar::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-width, 11px);
}

.CodeMirror-hscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--scrollbar-color, var(--neutral-300-color));
  border: 3px solid var(--scrollbar-background-color, var(--neutral-color));
  border-radius: 100px;
}
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--scrollbar-background-color, var(--neutral-color));
  background: var(--scrollbar-hover-color, var(--neutral-400-color));
}

.CodeMirror-hscrollbar:hover::-webkit-scrollbar-thumb {
  visibility: initial;
}

.CodeMirror-hscrollbar::-webkit-scrollbar-corner {
  background: var(--scrollbar-background-color, var(--neutral-color));
}

.CodeMirror-hscrollbar * {
  scrollbar-color: var(--scrollbar-color, var(--neutral-300-color)) transparent;
  scrollbar-width: 9px;
}

.CodeMirror-vscrollbar {
  --scrollbar-color: #3a3f5f;
  --scrollbar-background-color: var(--secondary-color);
  --scrollbar-hover-color: #4d547f;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width, 11px);
}

.CodeMirror-vscrollbar::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-width, 11px);
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--scrollbar-color, var(--neutral-300-color));
  border: 3px solid var(--scrollbar-background-color, var(--neutral-color));
  border-radius: 100px;
}
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--scrollbar-background-color, var(--neutral-color));
  background: var(--scrollbar-hover-color, var(--neutral-400-color));
}

.CodeMirror-vscrollbar:hover::-webkit-scrollbar-thumb {
  visibility: initial;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-corner {
  background: var(--scrollbar-background-color, var(--neutral-color));
}

.CodeMirror-vscrollbar * {
  scrollbar-color: var(--scrollbar-color, var(--neutral-300-color)) transparent;
  scrollbar-width: 9px;
}

@media (max-width: 544px) {
  .CodeSnippets .CodeMirror-lines {
    line-height: 1.5;
  }
  .CodeSnippets-result.is-json {
    font-size: 12px;
    line-height: 1.5;
  }
}
.CodeSnippets .CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeSnippets .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.CodeSnippets:hover .CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeSnippets:hover .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  visibility: initial;
}
