/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Modal/Base.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Modal-content::-webkit-scrollbar {
  width: var(--scrollbar-width, 11px);
}

.Modal-content::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-width, 11px);
}

.Modal-content::-webkit-scrollbar-track {
  background: transparent;
}

.Modal-content::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--scrollbar-color, var(--neutral-300-color));
  border: 3px solid var(--scrollbar-background-color, var(--neutral-color));
  border-radius: 100px;
}
.Modal-content::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--scrollbar-background-color, var(--neutral-color));
  background: var(--scrollbar-hover-color, var(--neutral-400-color));
}

.Modal-content:hover::-webkit-scrollbar-thumb {
  visibility: initial;
}

.Modal-content::-webkit-scrollbar-corner {
  background: var(--scrollbar-background-color, var(--neutral-color));
}

.Modal-content * {
  scrollbar-color: var(--scrollbar-color, var(--neutral-300-color)) transparent;
  scrollbar-width: 9px;
}

.Modal-content.not-closable {
  cursor: default;
}
