/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Messages.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Messages-simple {
  background: #25283d;
  border-radius: 4px;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.12);
}
.Messages-simple.no-top-corners {
  border-radius: 0 0 4px 4px;
}

.Messages-over {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background: rgba(246, 246, 247, 0.4);
  z-index: 300;
}
.Messages-over .Messages-overContent {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 55%;
  padding: 24px;
  background: #25283d;
  border-radius: 4px;
  overflow: auto;
  z-index: 200;
}
.Messages-over .Messages-overContent.is-taller {
  max-height: 70%;
}
.Messages-over .Messages-overContent button.Link {
  position: absolute;
  top: 20px;
  right: 20px;
}
.Messages-over .Messages-overContent::-webkit-scrollbar {
  width: var(--scrollbar-width, 11px);
}
.Messages-over .Messages-overContent::-webkit-scrollbar:horizontal {
  height: var(--scrollbar-width, 11px);
}
.Messages-over .Messages-overContent::-webkit-scrollbar-track {
  background: transparent;
}
.Messages-over .Messages-overContent::-webkit-scrollbar-thumb {
  visibility: hidden;
  background: var(--scrollbar-color, var(--neutral-300-color));
  border: 3px solid var(--scrollbar-background-color, var(--neutral-color));
  border-radius: 100px;
}
.Messages-over .Messages-overContent::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--scrollbar-background-color, var(--neutral-color));
  background: var(--scrollbar-hover-color, var(--neutral-400-color));
}
.Messages-over .Messages-overContent:hover::-webkit-scrollbar-thumb {
  visibility: initial;
}
.Messages-over .Messages-overContent::-webkit-scrollbar-corner {
  background: var(--scrollbar-background-color, var(--neutral-color));
}
.Messages-over .Messages-overContent * {
  scrollbar-color: var(--scrollbar-color, var(--neutral-300-color)) transparent;
  scrollbar-width: 9px;
}

.Messages-float {
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: 100%;
  padding: 8px 16px;
  background: #25283d;
  border-radius: 4px;
  z-index: 4;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.12);
}
