/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/FreeInput.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.FreeInput {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  min-width: 0px;
}
.FreeInput.overflow {
  display: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: initial;
  white-space: nowrap;
}

.FreeInput--inline {
  display: inline-flex;
}

.FreeInput-simple {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  min-width: 0px;
  outline: none;
  border: 0;
  border-bottom: 1px solid transparent;
  font: normal 14px/24px "Inter", system-ui, sans-serif;
}
@media (max-width: 544px) {
  .FreeInput-simple {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}
.FreeInput-simple.Markdown {
  display: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: initial;
  white-space: nowrap;
}
.FreeInput-simple.as-inline-input {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
.FreeInput-simple.as-inline-input br {
  display: none;
}
.FreeInput-simple.as-inline-input * {
  display: inline;
  white-space: nowrap;
}
.FreeInput-simple.show-placeholder:before {
  content: attr(placeholder);
  opacity: 0.5;
  color: inherit;
  cursor: text;
}
.FreeInput-simple.has-placeholder {
  opacity: 0.8;
}
.FreeInput-simple:hover {
  cursor: default;
}
.FreeInput-simple.is-editable {
  cursor: text;
}
.FreeInput-simple.is-editable:hover, .FreeInput-simple.is-editable:focus {
  border-color: var(--main-color);
}

.FreeInput.has-errors .FreeInput-simple,
.FreeInput.has-errors .FreeInput-simple:focus,
.FreeInput.has-errors .FreeInput-simple:hover {
  border-color: var(--error-color);
  border-style: dashed;
}

.FreeInput-complex {
  display: inline-block;
  width: 100%;
}
.FreeInput-complex .react-codemirror2 {
  display: block;
}

.CodeMirror.cm-s-free-editor {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  background: transparent;
  color: inherit;
  font: inherit;
  border-bottom: 1px solid transparent;
}
.CodeMirror.cm-s-free-editor .CodeMirror-scroll {
  height: auto;
}
.CodeMirror.cm-s-free-editor .CodeMirror-lines {
  padding: 0 1px 0 0;
  line-height: inherit;
}
.CodeMirror.cm-s-free-editor .CodeMirror-line,
.CodeMirror.cm-s-free-editor .CodeMirror-placeholder {
  padding: 0;
  color: inherit;
}
.CodeMirror.cm-s-free-editor .CodeMirror-cursor {
  border-left: 1px solid var(--tuna-color);
}
.CodeMirror.cm-s-free-editor.CodeMirror-focused {
  border-bottom: 1px solid var(--main-color);
}
.CodeMirror.cm-s-free-editor.CodeMirror-focused .CodeMirror-selected {
  background: var(--tuna-100-color);
}
.CodeMirror.cm-s-free-editor .CodeMirror-line::selection,
.CodeMirror.cm-s-free-editor .CodeMirror-line > span::selection,
.CodeMirror.cm-s-free-editor .CodeMirror-line > span > span::selection {
  background: var(--tuna-000-color);
}
.CodeMirror.cm-s-free-editor .CodeMirror-line::-moz-selection,
.CodeMirror.cm-s-free-editor .CodeMirror-line > span::-moz-selection,
.CodeMirror.cm-s-free-editor .CodeMirror-line > span > span::-moz-selection {
  background: var(--tuna-000-color);
}
.CodeMirror.cm-s-free-editor .cm-header {
  color: var(--secondary-color);
}
.CodeMirror.cm-s-free-editor .cm-variable-2 {
  color: inherit;
}
.CodeMirror.cm-s-free-editor .cm-link {
  text-decoration: none;
  color: var(--alternative-color);
}
.CodeMirror.cm-s-free-editor .cm-tag {
  color: var(--tuna-color);
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Markdown.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Markdown h1, .Markdown h2, .Markdown h3, .Markdown h4, .Markdown h5, .Markdown h6 {
  text-transform: uppercase;
  font-weight: bold;
}
.Markdown strong {
  font-weight: bold;
}
.Markdown em {
  font-style: italic;
}
.Markdown a {
  color: var(--main-color);
}
.Markdown img {
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 20px;
  min-height: 20px;
}
.Markdown p {
  white-space: pre-line;
  margin-bottom: 8px;
}
.Markdown p:last-child {
  margin-bottom: initial;
}
.Markdown ul {
  list-style-type: disc;
  list-style-position: inside;
}
.Markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.Markdown code {
  padding: 0 6px;
  box-sizing: border-box;
  color: var(--alternative-color);
  border: 1px solid rgba(0, 193, 255, 0.3);
  border-radius: 4px;
}
.Markdown table th {
  color: var(--secondary-color);
  background: none;
  border: none;
  border-bottom: 1px solid #E5E6E8;
}
.Markdown table td {
  border: none;
}
.Markdown table tbody tr {
  border-bottom: 1px solid #E5E6E8;
}
.Markdown.Changelog ul, .Markdown.Changelog ol {
  list-style-position: outside;
  padding-left: 1em;
}
