/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/WorkspaceSettings/UsageDetail/UsageGraph.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Usage-graph {
  margin-top: var(--spacing-3);
}

.Usage-graph-tooltip {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}
.Usage-graph-tooltip-dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.Usage-graph-tooltip-total {
  flex: 1;
  text-align: right;
}

.Usage-legends.UI-Table .UI-Table-body td.UI-Table-cell, .Usage-legends.UI-Table .UI-Table-header th {
  padding-right: 0;
}
.Usage-legends .dot-legend {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.Usage-legends-total {
  font-size: 14px;
  display: flex;
  color: var(--neutral-400-color);
  justify-content: space-between;
  margin-top: var(--spacing-4);
}

.UsageGraph-tooltip {
  min-width: calc(var(--spacing-unit) * 20px);
  max-width: calc(var(--spacing-unit) * 61px);
  background: #161724;
  color: #161724;
  display: inline-grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "name value value2 comma";
  grid-gap: var(--spacing-1);
  align-items: center;
  justify-items: start;
  padding: var(--spacing-1) 0;
  padding-right: var(--spacing-2);
}
.UsageGraph-tooltip--unfocused {
  opacity: 0.4;
}
.UsageGraph-tooltipTitle {
  width: 100%;
  margin-right: var(--spacing-2);
}
.UsageGraph-tooltipCircle {
  display: inline-block;
  width: var(--spacing-2);
  height: var(--spacing-2);
  margin-right: var(--spacing-2);
  border-radius: 100%;
}
.UsageGraph-tooltipValue {
  width: 100%;
  text-align: right;
}
.UsageGraph-tooltipPrevValue {
  width: 100%;
  text-align: right;
}
.UsageGraph-tooltipPrevTitle {
  width: 100%;
  margin-right: var(--spacing-2);
  margin-top: var(--spacing-2);
}
.UsageGraph-tooltipDate {
  padding: var(--spacing-1);
  padding-right: var(--spacing-2);
  display: flex;
  justify-content: space-between;
}
