/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/EntitiesListSelection.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EntitiesListSelection-content {
  position: relative;
  max-height: 225px;
  overflow: auto;
}

.EntitiesListSelection-form {
  width: 100%;
  flex: 1;
  border-bottom: 1px solid rgba(37, 40, 61, 0.08);
  box-sizing: border-box;
}

.EntitiesListSelection-form .TextInput,
.EntitiesListSelection-form .TextInput:focus {
  border-bottom: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.EntitiesListSelection-textInput {
  width: 90%;
  border: none;
  outline: none;
}
.EntitiesListSelection-textInput:focus {
  border-bottom: none;
}
.EntitiesListSelection-textInput::placeholder {
  color: #b0b0b0;
}

.EntitiesListSelection-loader {
  margin-left: 50%;
  transform: translateX(-50%);
}

.Button.EntitiesListSelection-clearInput[disabled] {
  opacity: 0;
  visibility: hidden;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TopicListSelection.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TopicListSelection-content {
  position: relative;
  overflow: auto;
  min-height: 463px;
}

.TopicListSelection-form {
  width: 100%;
  flex: 1;
  box-sizing: border-box;
}

.TopicListSelection-form .TextInput,
.TopicListSelection-form .TextInput:focus {
  border-bottom: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.TopicListSelection-form .TextInput::placeholder,
.TopicListSelection-form .TextInput:focus::placeholder {
  color: #717380;
}

.TopicListSelection-textInput {
  width: 90%;
  border: none;
  outline: none;
}
.TopicListSelection-textInput:focus {
  border-bottom: none;
}
.TopicListSelection-textInput::placeholder {
  color: #717380;
}

.TopicListSelection-loader {
  margin-left: 50%;
  transform: translateX(-50%);
}

.Button.TopicListSelection-clearInput[disabled] {
  opacity: 0;
  visibility: hidden;
}
