/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/Configuration.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TimeSeries-config {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.TimeSeries-configContent {
  width: 400px;
  padding: 32px;
  max-width: 400px;
  background: #fafafa;
  border-radius: 4px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/Visualize/VisualizeLoading.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VisualizeLoading-title {
  height: 40px;
  width: 300px;
  background: var(--tuna-000-color);
}
.VisualizeLoading-title.has-error {
  width: 100%;
  background: transparent;
}

.VisualizeLoading-desc {
  height: 24px;
  width: 250px;
  background: var(--tuna-000-color);
}

.VisualizeLoading-queryEditor {
  height: 36px;
  width: 100%;
  background: var(--tuna-000-color);
}

.VisualizeLoading-itemDesc {
  height: 20px;
  width: 180px;
  background: var(--tuna-000-color);
}

.VisualizeLoading-itemButton {
  height: 48px;
  width: 145px;
  background: var(--tuna-000-color);
}

.VisualizeLoading-itemContent {
  height: 300px;
  width: 100%;
  background: var(--tuna-000-color);
}
.VisualizeLoading-itemContent.is-smaller {
  height: 150px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/Visualize/Options.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ShareButton {
  background: rgba(31, 204, 131, 0.08);
}
.ShareButton:hover {
  background: rgba(18, 115, 74, 0.08);
}

.TimeSeriesActions-menu ul {
  min-width: 100px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/Graph.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.VisualizeGraph-wrapper {
  position: relative;
  overflow: visible;
  width: 100%;
}

.VisualizeGraph {
  position: relative;
  width: calc(100% - 15px);
  overflow: visible;
}

.VisualizeGraph-label {
  position: absolute;
  top: 120px;
  left: 50%;
  padding: 4px 16px;
  transform: translateX(-50%);
  background: rgba(37, 40, 61, 0.5);
  border-radius: 16px;
}

.VisualizeGraph-tooltip {
  min-width: 160px;
  max-width: 488px;
  background: #161724;
  color: #161724;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "name value comma";
  grid-gap: 4px;
  align-items: center;
  justify-items: start;
  padding: 4px 0;
}
.VisualizeGraph-tooltip--unfocused {
  opacity: 0.4;
}

.VisualizeGraph-tooltipTitle {
  width: 100%;
  margin-right: 8px;
}

.VisualizeGraph-tooltipCircle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 100%;
}

.VisualizeGraph-tooltipValue {
  width: 100%;
  text-align: right;
  padding-right: 8px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/Table.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
table.Graph-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: none;
}

table.Graph-table thead {
  border-top: transparent;
  border-bottom: 1px solid rgba(37, 40, 61, 0.08);
}

table.Graph-table thead th,
table.Graph-table thead th * {
  width: auto;
  font: semi 11px/16px "Inter", system-ui, sans-serif;
  color: var(--secondary-color);
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  background: none;
}
@media (max-width: 544px) {
  table.Graph-table thead th,
  table.Graph-table thead th * {
    font: semi 11px/14px "Inter", system-ui, sans-serif;
  }
}

table.Graph-table thead th {
  padding: 8px 0;
  margin: 0;
}
table.Graph-table thead th:before {
  height: 0;
}

table.Graph-table tbody tr {
  border-bottom: 1px solid rgba(37, 40, 61, 0.12);
}

table.Graph-table tbody td,
table.Graph-table thead th {
  border-right: transparent;
}

table.Graph-table tbody td.no-data {
  color: var(--tuna-200-color);
}

table.Graph-table tbody td {
  margin: 0;
  padding: 18px 0;
}

table.Graph-table tbody td div.code {
  font: normal 14px/24px "ia_writer_mono_sregular", monospace;
}
@media (max-width: 544px) {
  table.Graph-table tbody td div.code {
    font: normal 14px/24px "ia_writer_mono_sregular", monospace;
  }
}

table.Graph-table td div.to-right,
table.Graph-table th div.to-right {
  text-align: right;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/TimeSeries/QueryEditors.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.QueryEditor {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 16px;
}
.QueryEditor--upper-border {
  border-top: 1px solid #d9d9d9;
}
.QueryEditor-hideButton {
  -webkit-user-select: none;
          user-select: none;
}
.QueryEditor-field {
  border-radius: 3px;
  overflow: hidden;
}
.QueryEditor .Form-label {
  font-size: 13px;
  align-items: unset;
  margin-top: var(--spacing-2);
}
.QueryEditor-enableHaving {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  right: var(--spacing-3);
}
.QueryEditor-enableHaving .Field-label {
  color: var(--secondary-light-color);
  font-size: 14px;
}
.QueryEditor-extraInfo {
  min-height: 24px;
}

.TimeSeries-controls:hover .QueryEditor-hideableSection-button,
.TimeSeries-controls:hover .QueryEditor-hideableSection-lines {
  display: block;
}
