/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Entity.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Entity {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
}
.Entity.is-text {
  background: rgba(176, 176, 176, 0);
  color: var(--tuna-color);
  font-weight: 500;
}
.Entity.is-text .is-enabled {
  color: var(--bold-color);
}

.Entity-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 4px;
  background: rgba(176, 176, 176, 0.16);
  border: 1px solid rgba(37, 40, 61, 0.16);
  font-weight: 600;
}
.Entity-icon.no-border {
  border: none;
}
.Entity-icon.is-small {
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
}
.Entity-icon.no-bkg {
  background: none;
}

.Entity-iconSub {
  position: absolute;
  top: -8.8px;
  right: -8.8px;
  width: 20px;
  height: 20px;
  border-radius: 3.04px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.Entitity-iconInfo {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  z-index: 1;
}
.Entitity-iconInfo.is-error {
  background: var(--error-color);
}

.Entity-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}

.Entity-infoName {
  display: block;
  font: normal 18px/32px "Inter", system-ui, sans-serif;
  color: var(--secondary-color);
  transition: color 280ms linear;
  border-bottom: 2px solid transparent;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 544px) {
  .Entity-infoName {
    font: normal 18px/32px "Inter", system-ui, sans-serif;
  }
}
.Entity-infoName.is-editable {
  outline: none;
}
.Entity-infoName.is-editable:hover, .Entity-infoName.is-editable:focus {
  cursor: text;
  border-bottom: 2px solid var(--main-color);
}
.Entity-infoName.has-errors:hover, .Entity-infoName.has-errors:focus {
  border-bottom-color: var(--error-color);
  border-bottom-style: dashed;
}

.Entity-infoStats {
  max-width: 100%;
  font: normal 14px/24px "Inter", system-ui, sans-serif;
  color: var(--tuna-color);
}
@media (max-width: 544px) {
  .Entity-infoStats {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}
.Entity-infoStats.flex > * + * {
  margin-left: 4px;
}
.Entity-infoStats .Link.as-color--tuna.as-font--small.underline {
  cursor: default;
  text-decoration: none;
}
.Entity-infoStats .Link.as-color--tuna.as-font--small.underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Entity-infoStatIcon {
  margin-right: 4px;
}

.Entity.is-clickable .Entity-infoName {
  color: var(--main-color);
}

.Entity.is-clickable.is-focused,
.Entity.is-clickable:hover,
.Entity.is-clickable:focus {
  cursor: pointer;
}
.Entity.is-clickable.is-focused .Entity-infoName,
.Entity.is-clickable:hover .Entity-infoName,
.Entity.is-clickable:focus .Entity-infoName {
  text-decoration: underline;
  color: #25283d;
  text-decoration: none;
}

.Entity.is-short {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.Entity.is-short .Entity-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-right: 12px;
  font-size: 10px;
}

.Entity.is-short .Entity-info {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 41px);
  flex: 1;
}

.Entity.is-short .Entity-infoName {
  flex-shrink: 1;
  min-width: 160px;
  text-align: left;
  direction: rtl;
}

.Entity.is-short .Entity-infoStats {
  flex-shrink: 10;
  min-width: 80px;
  margin-left: 16px;
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 544px) {
  .Entity.is-short .Entity-infoStats {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}

.Entity.is-short .Entity-infoUpdatedText,
.Entity.is-short .Entity-infoDescription {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Entity {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .Entity .Entity-icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 12px;
    font-size: 10px;
  }
  .Entity .Entity-info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 41px);
    flex: 1;
  }
  .Entity .Entity-infoName {
    flex-shrink: 1;
    min-width: 160px;
    text-align: left;
    direction: rtl;
  }
  .Entity .Entity-infoStats {
    flex-shrink: 10;
    min-width: 80px;
    margin-left: 16px;
    font: normal 13px/16px "Inter", system-ui, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 600px) and (max-width: 544px) {
  .Entity .Entity-infoStats {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
@media only screen and (max-width: 600px) {
  .Entity .Entity-infoUpdatedText,
  .Entity .Entity-infoDescription {
    display: none;
  }
}
.Entity-optionsButton {
  cursor: pointer;
}
