/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/EntityPreview/index.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EntityPreview-content {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
}

.EntityPreview-progress {
  position: absolute;
  left: 0;
  top: -2px;
  min-width: 3px;
  height: 3px;
  background: var(--primary-color);
  z-index: 2;
}

.EntityPreview-contentLoader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(246, 246, 247, 0.7);
  z-index: 2;
}

.EntityPreview-quarantine {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  background: var(--body-color);
  border-radius: 4px;
}

.EntityPreview-count {
  display: flex;
  padding: 0 8px;
  font-weight: 600 !important;
  font-size: 11px !important;
  line-height: 16px;
  color: var(--neutral-color);
  background: var(--error-color);
  border-radius: 40px;
}
.EntityPreview-count.is-positive {
  background: var(--primary-color);
}
.EntityPreview-count.is-alternative {
  background: var(--alternative-color);
}

.EntityPreview-selector {
  border-bottom: 1px solid rgba(37, 40, 61, 0.08);
}

.EntityPreview-header[aria-disabled=true] {
  opacity: 0.5;
}
.EntityPreview-header[aria-disabled=true] button {
  opacity: 1;
  pointer-events: none;
}

.EntityPreview-tabs {
  position: relative;
  z-index: 2;
}
.EntityPreview-tabs.disabled a:not(.is-selected) {
  opacity: 0.5;
  pointer-events: none;
}

.EntityPreview-table {
  height: 100%;
  overflow: auto;
  border-radius: 0 0 4px 4px;
}
.EntityPreview-table .Table-columnType {
  color: var(--tuna-color);
}
.EntityPreview-table .Table-columnType.is-editable {
  color: var(--primary-color);
}
.EntityPreview-table .Table-columnType.has-errors {
  color: var(--error-color);
}
.EntityPreview-table.no-border {
  border: none;
}
.EntityPreview-table--page {
  background-color: var(--neutral-color);
}
.EntityPreview-table--page .Table-columnName {
  font-weight: 600;
  line-height: 20px;
}
.EntityPreview-table--page .Table-columnType {
  color: var(--alternative-color);
  line-height: 16px;
}
.EntityPreview-table--page--no-borderTop .ag-header-cell {
  border-top-color: transparent;
}
.EntityPreview-table--page .ag-cell {
  border-color: var(--border-100-color);
}
.EntityPreview-table--page .ag-edit-header-cell.is-discarded,
.EntityPreview-table--page .ag-cell.is-discarded {
  background: var(--neutral-color);
}
.EntityPreview-table--page--no-borderTop .ag-header-viewport::before {
  background: transparent;
}
.EntityPreview-table--page .ag-cell .ag-cell-value {
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-color);
}
.EntityPreview-table--page .ag-new-header-cell {
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
}
.EntityPreview-table--page .ag-new-header-cell--detected {
  background: var(--primary-light-color);
}
.EntityPreview-table--page .ag-new-header-cell--discarded {
  background: var(--neutral-color);
}
.EntityPreview-table--page .ag-grid-new-column {
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
}
.EntityPreview-table--page .ag-grid-new-column--detected {
  background: var(--primary-light-color);
}
.EntityPreview-table--page .ag-grid-new-column--discarded {
  background: var(--neutral-color);
}
.EntityPreview-table--page .ag-row:last-child .ag-grid-new-column {
  border-bottom: 2px solid var(--primary-color);
}
.EntityPreview-table--page .ag-body-horizontal-scroll-viewport {
  border-color: transparent;
}
.EntityPreview-table:not(.EntityPreview-table--page) .ag-cell-copy-button {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), transparent 25%);
}

.UI-Page .EntityPreview-disclaimer::after {
  top: unset;
  bottom: 0;
  background: var(--border-100-color);
}

.EntityPreview-selectedColumns {
  position: relative;
  display: flex;
  gap: 16px;
  background-color: #fff;
  padding: 12px 24px 12px 24px;
}
.EntityPreview-selectedColumnsMessage {
  margin-right: auto;
  font-size: 11px;
  line-height: 16px;
  color: #676b7b;
}
.EntityPreview-selectedColumnsMessage.noColumns {
  color: var(--error-color);
}

.EntityPreview-info {
  position: relative;
  display: block;
  padding: 16px 40px;
  background: rgba(255, 255, 255, 0.16);
}
.EntityPreview-info.less-padding {
  padding: 12px 40px;
}
.EntityPreview-info.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EntityPreview-info.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.EntityPreview-info:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(37, 40, 61, 0.08);
  z-index: 1;
}
.EntityPreview-info.top-message:after {
  top: auto;
  bottom: 0;
}
.EntityPreview-info .EntityPreview-infoDesc {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 22px;
  color: var(--text-secondary-color);
}
@media (max-width: 544px) {
  .EntityPreview-info .EntityPreview-infoDesc {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-info .EntityPreview-infoMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
  color: #fff;
}
@media (max-width: 544px) {
  .EntityPreview-info .EntityPreview-infoMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-info .EntityPreview-infoMessage .Link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
}
.EntityPreview-info .EntityPreview-emphasis {
  font-weight: 600;
}
.EntityPreview-info .EntityPreview-infoSeparator {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(37, 40, 61, 0.16);
}

.EntityPreview-message {
  position: relative;
  display: block;
  padding: 16px 40px;
  background: rgba(0, 193, 255, 0.08);
}
.EntityPreview-message.less-padding {
  padding: 12px 40px;
}
.EntityPreview-message.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EntityPreview-message.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.EntityPreview-message:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(37, 40, 61, 0.08);
  z-index: 1;
}
.EntityPreview-message.top-message:after {
  top: auto;
  bottom: 0;
}
.EntityPreview-message .EntityPreview-messageDesc {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 22px;
  color: var(--text-secondary-color);
}
@media (max-width: 544px) {
  .EntityPreview-message .EntityPreview-messageDesc {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-message .EntityPreview-messageMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
  color: #25283d;
}
@media (max-width: 544px) {
  .EntityPreview-message .EntityPreview-messageMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-message .EntityPreview-messageMessage .Link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
}
.EntityPreview-message .EntityPreview-emphasis {
  font-weight: 600;
}
.EntityPreview-message .EntityPreview-messageSeparator {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(37, 40, 61, 0.16);
}

.EntityPreview-disclaimer {
  position: relative;
  display: block;
  padding: 16px 40px;
  background: rgba(252, 255, 106, 0.16);
}
.EntityPreview-disclaimer.less-padding {
  padding: 12px 40px;
}
.EntityPreview-disclaimer.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EntityPreview-disclaimer.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.EntityPreview-disclaimer:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(37, 40, 61, 0.08);
  z-index: 1;
}
.EntityPreview-disclaimer.top-message:after {
  top: auto;
  bottom: 0;
}
.EntityPreview-disclaimer .EntityPreview-disclaimerDesc {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 22px;
  color: var(--text-secondary-color);
}
@media (max-width: 544px) {
  .EntityPreview-disclaimer .EntityPreview-disclaimerDesc {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-disclaimer .EntityPreview-disclaimerMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
  color: #fcff6a;
}
@media (max-width: 544px) {
  .EntityPreview-disclaimer .EntityPreview-disclaimerMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-disclaimer .EntityPreview-disclaimerMessage .Link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
}
.EntityPreview-disclaimer .EntityPreview-emphasis {
  font-weight: 600;
}
.EntityPreview-disclaimer .EntityPreview-disclaimerSeparator {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(37, 40, 61, 0.16);
}

.EntityPreview-success {
  position: relative;
  display: block;
  padding: 16px 40px;
  background: rgba(31, 204, 131, 0.08);
}
.EntityPreview-success.less-padding {
  padding: 12px 40px;
}
.EntityPreview-success.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EntityPreview-success.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.EntityPreview-success:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(37, 40, 61, 0.08);
  z-index: 1;
}
.EntityPreview-success.top-message:after {
  top: auto;
  bottom: 0;
}
.EntityPreview-success .EntityPreview-successDesc {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 22px;
  color: var(--text-secondary-color);
}
@media (max-width: 544px) {
  .EntityPreview-success .EntityPreview-successDesc {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-success .EntityPreview-successMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
  color: #1fcc83;
}
@media (max-width: 544px) {
  .EntityPreview-success .EntityPreview-successMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-success .EntityPreview-successMessage .Link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
}
.EntityPreview-success .EntityPreview-emphasis {
  font-weight: 600;
}
.EntityPreview-success .EntityPreview-successSeparator {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(37, 40, 61, 0.16);
}

.EntityPreview-error {
  position: relative;
  display: block;
  padding: 16px 40px;
  background: rgba(247, 99, 99, 0.08);
}
.EntityPreview-error.less-padding {
  padding: 12px 40px;
}
.EntityPreview-error.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EntityPreview-error.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.EntityPreview-error:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(37, 40, 61, 0.08);
  z-index: 1;
}
.EntityPreview-error.top-message:after {
  top: auto;
  bottom: 0;
}
.EntityPreview-error .EntityPreview-errorDesc {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 22px;
  color: var(--text-secondary-color);
}
@media (max-width: 544px) {
  .EntityPreview-error .EntityPreview-errorDesc {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-error .EntityPreview-errorMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
  color: #f76363;
}
@media (max-width: 544px) {
  .EntityPreview-error .EntityPreview-errorMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-error .EntityPreview-errorMessage .Link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
}
.EntityPreview-error .EntityPreview-emphasis {
  font-weight: 600;
}
.EntityPreview-error .EntityPreview-errorSeparator {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(37, 40, 61, 0.16);
}

.EntityPreview-warning {
  position: relative;
  display: block;
  padding: 16px 40px;
  background: rgba(249, 132, 74, 0.08);
}
.EntityPreview-warning.less-padding {
  padding: 12px 40px;
}
.EntityPreview-warning.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.EntityPreview-warning.flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.EntityPreview-warning:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 1px;
  background: rgba(37, 40, 61, 0.08);
  z-index: 1;
}
.EntityPreview-warning.top-message:after {
  top: auto;
  bottom: 0;
}
.EntityPreview-warning .EntityPreview-warningDesc {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 22px;
  color: var(--text-secondary-color);
}
@media (max-width: 544px) {
  .EntityPreview-warning .EntityPreview-warningDesc {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-warning .EntityPreview-warningMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
  color: var(--body-color);
}
@media (max-width: 544px) {
  .EntityPreview-warning .EntityPreview-warningMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
.EntityPreview-warning .EntityPreview-warningMessage .Link {
  font: inherit;
  text-decoration: underline;
  color: inherit;
}
.EntityPreview-warning .EntityPreview-emphasis {
  font-weight: 600;
}
.EntityPreview-warning .EntityPreview-warningSeparator {
  display: block;
  margin: 8px 0;
  border: none;
  border-top: 1px solid rgba(37, 40, 61, 0.16);
}
