/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Form/FormSelect.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Form-select {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgba(37, 40, 61, 0.16);
  font: normal 14px/24px "Inter", system-ui, sans-serif;
  color: #25283d;
  outline: none;
  cursor: pointer;
}
@media (max-width: 544px) {
  .Form-select {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}
.Form-select:hover {
  border-color: rgba(37, 40, 61, 0.8);
}
.Form-select:focus {
  border-color: #25283d;
}
.Form-select:disabled {
  background-color: #fafafa;
  color: #b0b0b0;
  cursor: not-allowed;
}
.Form-select:disabled .Form-selectArrow path {
  fill: #b0b0b0;
}
.Form-select:disabled:hover {
  border-color: rgba(37, 40, 61, 0.16);
}
.Form-select.has-error {
  border-color: rgba(247, 99, 99, 0.8);
  color: #f76363;
}
.Form-select.has-error:hover, .Form-select.has-error:focus {
  border-color: rgba(247, 99, 99, 0.8);
}
.Form-select .Form-selectValue {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Form-selectPlaceholder {
  color: #b0b0b0;
}

.form-selectItems .szh-menu-container {
  width: auto;
}
.form-selectItems .szh-menu {
  min-width: 100%;
  max-height: 280px;
  margin-top: 4px;
  overflow: auto;
}

.Form-selectCaption {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  opacity: 0.4;
  margin-top: 4px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Form/SortableMultiSelect.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.multiselect {
  position: relative;
}
.multiselect.disabled .Form-label {
  opacity: 0.5;
}
.multiselect .multiselect-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-7);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  font-family: inherit;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-3);
  gap: var(--spacing-2);
  background: var(--neutral-100-color);
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  color: inherit;
  transition: color, background, border-color 0.2s ease-in-out;
  border: 2px solid transparent;
}
.multiselect .multiselect-button:hover:not(:disabled) {
  border-color: var(--neutral-100-color);
  background: var(--light-color);
}
.multiselect .multiselect-button:focus:not(:disabled) {
  background: var(--light-color);
  border-color: var(--main-color);
  box-shadow: 0px 0px 4px rgba(31, 204, 131, 0.4);
}
.multiselect .multiselect-button:disabled {
  background: var(--neutral-200-color);
  color: var(--secondary-light-color);
  cursor: not-allowed;
}
.multiselect .multiselect-button .multiselect-arrow path {
  fill: currentColor;
}
.multiselect .multiselect-items .form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.multiselect-button.has-error {
  border-color: rgba(247, 99, 99, 0.8);
  color: #f76363;
}
.multiselect-button.has-error:hover, .multiselect-button.has-error:focus {
  border-color: rgba(247, 99, 99, 0.8);
}

.multiselect-placeholder {
  color: #b0b0b0;
}

.multiselect-items {
  -webkit-user-select: none;
          user-select: none;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.133), 0 0.6px 2px rgba(0, 0, 0, 0.1);
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  box-sizing: border-box;
  width: max-content;
  position: absolute;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  margin-top: 4px;
}
.multiselect-items.grabbing {
  cursor: grabbing;
}

.multiselect-item {
  width: 100%;
  overflow: hidden;
  padding: 4px 16px;
  text-decoration: none;
  text-align: left;
}
.multiselect-item:hover, .multiselect-item:active {
  background: #f6f7f8;
  color: inherit;
}
.multiselect-item input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.multiselect-item label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #212529;
}
.multiselect-item.draggable.on-hover-up::before {
  background-color: #00c1ff;
  border-radius: 5px;
  content: "";
  height: 2px;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 0;
}
.multiselect-item.draggable.on-hover-down::after {
  background-color: #00c1ff;
  border-radius: 5px;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 20px;
  position: absolute;
  right: 20px;
}

.multiselect-selecteditems {
  background-color: #fafafa;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Form/Group.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.form-group-fields {
  display: grid;
  grid-gap: 5px;
  align-items: center;
  min-height: 40px;
}

.Form-group.disabled .Form-label {
  opacity: 0.5;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Form/index.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.Form-wrapper {
  position: relative;
}
.Form-wrapper.with-border {
  padding: 16px;
  border: 1px solid rgba(37, 40, 61, 0.16);
  border-radius: 7px;
}
.Form-wrapper.with-border:hover, .Form-wrapper.with-border.is-selected {
  border: 1px solid #25283d;
}
.Form-wrapper.with-border.has-error {
  border: 1px solid #f76363;
}

.Form-wrapperMessage {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  position: absolute;
  bottom: -24;
  left: 0;
}
@media (max-width: 544px) {
  .Form-wrapperMessage {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}

.Form-field {
  margin: 0;
  position: relative;
}
.Form-field.inline-reverse {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.Form-field.inline {
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.Form-label {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font: normal 14px/24px "Inter", system-ui, sans-serif;
  color: #636679;
}
@media (max-width: 544px) {
  .Form-label {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}
.Form-label.is-selected {
  color: #25283d;
}
.Form-label.is-highlighted {
  font-weight: 600;
  color: #25283d;
}
.Form-label.is-loading {
  display: inline-block;
  height: 14px;
  background: linear-gradient(45deg, #e5e6e8 0%, silver 50%, #e5e6e8 100%);
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.Radio + label:before,
.Radio > label:before {
  flex-shrink: 0;
}

.CheckboxField + label.Form-label span {
  width: 100%;
}

.Form-error {
  font: normal 14px/24px "Inter", system-ui, sans-serif;
  color: #f76363;
}
@media (max-width: 544px) {
  .Form-error {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}
