/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Checkbox.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CheckboxField {
  -webkit-appearance: none;
          appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  display: grid;
  place-content: center;
  box-sizing: border-box;
}
.CheckboxField--small::before {
  height: 16px;
  width: 16;
}
.CheckboxField--medium::before {
  height: 20px;
  width: 20px;
}
.CheckboxField--large::before {
  height: 24px;
  width: 24px;
}
.CheckboxField::before {
  content: "";
  box-sizing: border-box;
  color: white;
  border-radius: 4px;
  border: 1px solid var(--neutral-300-color);
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.CheckboxField:hover::before {
  border-width: 2px;
  border-color: var(--neutral-300-color);
}
.CheckboxField:checked:not(:disabled)::before, .CheckboxField[aria-checked=true]:not(:disabled)::before {
  border-width: 2px;
  color: var(--primary-color);
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Crect x=%270.5%27 width=%2720%27 height=%2720%27 rx=%274%27 fill=%27%231FCC83%27/%3E%3Cpath d=%27M9.7788 14.0669C9.74352 14.113 9.70478 14.1574 9.66257 14.1996C9.14812 14.7141 8.31403 14.7141 7.79958 14.1996L4.88559 11.2856C4.37114 10.7712 4.37114 9.93708 4.88559 9.42263C5.40004 8.90818 6.23413 8.90818 6.74858 9.42263L8.72283 11.3969L14.2513 5.86844C14.7657 5.35399 15.5998 5.35399 16.1143 5.86844C16.6287 6.38289 16.6287 7.21698 16.1143 7.73143L9.7788 14.0669Z%27 fill=%27white%27/%3E%3C/svg%3E");
}
.CheckboxField[aria-checked=mixed]:checked:not(:disabled)::before {
  background-image: url("data:image/svg+xml,%3Csvg width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Crect width=%2720%27 height=%2720%27 rx=%274%27 fill=%27%231FCC83%27/%3E%3Crect x=%275%27 y=%279%27 width=%2710%27 height=%272%27 rx=%271%27 fill=%27white%27/%3E%3C/svg%3E");
}
.CheckboxField:checked:hover::before, .CheckboxField[aria-checked=true]:hover::before {
  border-color: var(--primary-dark-color);
}
.CheckboxField:not(.CheckboxField--notFocusable):focus::before {
  border-width: 2px;
  border-color: var(--primary-color);
  box-shadow: 0px 0px 4px rgba(31, 204, 131, 0.4);
}
.CheckboxField:not(.CheckboxField--notFocusable):checked:focus::before, .CheckboxField:not(.CheckboxField--notFocusable)[aria-checked=true]:focus::before {
  border-color: var(--primary-dark-color);
}
.CheckboxField:disabled, .CheckboxField[aria-disabled=true] {
  cursor: not-allowed;
}
.CheckboxField:disabled label, .CheckboxField[aria-disabled=true] label {
  cursor: not-allowed;
}
.CheckboxField:disabled:not(:checked)::before {
  background-color: var(--neutral-200-color);
  border-width: 2px;
  border-color: transparent;
}
.CheckboxField:disabled:checked::before {
  border-width: 2px;
  border-color: transparent;
  background-color: var(--neutral-200-color);
  background-image: url("data:image/svg+xml,%3Csvg width=%2720%27 height=%2720%27 viewBox=%270 0 21 20%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Crect x=%270.5%27 width=%2720%27 height=%2720%27 rx=%274%27 fill=%27%23E8E9ED%27/%3E%3Cpath d=%27M9.7788 14.0669C9.74352 14.113 9.70478 14.1574 9.66257 14.1996C9.14812 14.7141 8.31403 14.7141 7.79958 14.1996L4.88559 11.2856C4.37114 10.7712 4.37114 9.93708 4.88559 9.42263C5.40004 8.90818 6.23413 8.90818 6.74858 9.42263L8.72283 11.3969L14.2513 5.86844C14.7657 5.35399 15.5998 5.35399 16.1143 5.86844C16.6287 6.38289 16.6287 7.21698 16.1143 7.73143L9.7788 14.0669Z%27 fill=%27%23CBCCD1%27/%3E%3C/svg%3E");
}
.CheckboxField[aria-checked=mixed]:disabled::before {
  background-image: url("data:image/svg+xml,%3Csvg width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Crect width=%2720%27 height=%2720%27 rx=%274%27 fill=%27%23E8E9ED%27/%3E%3Crect x=%275%27 y=%279%27 width=%2710%27 height=%272%27 rx=%271%27 fill=%27%23CBCCD1%27/%3E%3C/svg%3E");
}
.CheckboxField label {
  cursor: pointer;
}
.CheckboxField:not(.CheckboxField--notFocusable).CheckboxField--invalid:not(:checked)::before, .CheckboxField:not(.CheckboxField--notFocusable).CheckboxField--invalid:not(:checked):hover::before, .CheckboxField:not(.CheckboxField--notFocusable).CheckboxField--invalid:not(:checked):focus::before {
  background-color: currentColor;
  border-width: 2px;
  border-color: var(--error-color);
  box-shadow: none;
}
