/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/Options.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Options {
  width: auto;
  max-height: 240px;
  padding: 16px 24px;
  background: var(--light-color);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: auto;
  z-index: 10;
}
.Options.in-front {
  z-index: 200;
}
.Options.no-padding {
  padding: 0;
}
.Options.padding-sm {
  padding: var(--spacing-1);
}
.Options.no-scroll {
  height: 240px;
  overflow: hidden;
}
.Options.no-max-height {
  max-height: none;
}

.Options-form {
  position: relative;
  display: block;
  height: 100%;
}

.Options-search {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 48px;
  min-height: 48px;
  padding: 0 16px;
  flex: 1;
  border-bottom: 1px solid #eeeeef;
}

.Options-searchInput {
  border: none;
  outline: none;
  width: 100%;
}

.Options-searchButton {
  cursor: pointer;
}

.Options-listWrapper {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.Options-list {
  padding: 8px 0;
}

.Options-item {
  display: block;
  width: 100%;
}
.Options-item.with-top-border {
  border-top: 1px solid rgba(238, 238, 239, 0.3);
}
.Options-item.with-bottom-border {
  border-bottom: 1px solid rgba(238, 238, 239, 0.3);
}

.Options-separator {
  display: block;
  box-sizing: border-box;
  height: 1px;
  margin: 8px 16px;
  background: #eee;
}

.Options-itemButton {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--secondary-color);
  padding: 4px 16px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
}
.Options-itemButton svg {
  color: currentcolor !important;
}
.Options-itemButton.is-selected, .Options-itemButton:hover {
  cursor: pointer;
  background: #f6f6f7;
}
.Options-itemButton.disabled {
  color: #a8a9b1;
}
.Options-itemButton.disabled svg {
  color: inherit !important;
}
.Options-itemButton.disabled:hover {
  cursor: default;
}
.padding-sm .Options-itemButton {
  padding: var(--spacing-1) var(--spacing-2);
  border-radius: 4px;
}

.Options-itemButton-tooltip {
  transform: translate(100%, 0);
}

.szh-menu {
  box-sizing: border-box;
  padding: var(--spacing-1) 0;
  min-width: 80px;
}

.szh-menu__divider {
  height: 1px;
  margin: var(--spacing-1) var(--spacing-3);
  background-color: #eeeeef;
}
.padding-sm .szh-menu__divider {
  margin: var(--spacing-1) var(--spacing-2);
}
.no-padding .szh-menu__divider {
  margin: var(--spacing-1) 0;
}

.szh-menu__item {
  padding: 0 16px;
}

.szh-menu__item--hover,
.szh-menu__item--active {
  background: #f6f7f8;
  color: inherit;
}

.szh-menu__item.no-actionable.szh-menu__item--hover,
.szh-menu__item.no-actionable.szh-menu__item--active {
  background: #fff;
  cursor: default;
}

.szh-menu__submenu > .szh-menu__item:after {
  content: "";
  right: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent var(--body-color);
}

.szh-menu__submenu .szh-menu__item--disabled:after {
  opacity: 0.4;
}

.szh-menu__item--type-radio:before,
.szh-menu__item--type-checkbox:before,
.szh-menu__item--type-checkbox.szh-menu__item--checked:before,
.szh-menu__item--type-radio.szh-menu__item--checked::before {
  content: "";
}

.custom-menu-item {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  padding: var(--spacing-1) var(--spacing-2);
  margin: 0 var(--spacing-1);
  border-radius: 4px;
}
.custom-menu-item::before {
  width: var(--spacing-4);
  height: var(--spacing-4);
}
.custom-menu-item .ColumnOptions-label {
  padding-left: var(--spacing-5);
  cursor: pointer;
}
.custom-menu-item.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.custom-menu-item.with-tooltip {
  align-items: flex-start;
}
.custom-menu-item.with-tooltip > * {
  width: 100%;
}
.custom-menu-item.with-tooltip .tippy-popper {
  width: 200%;
}
.custom-menu-item--selected {
  background: var(--primary-light-color);
  color: var(--primary-dark-color) !important;
}
.custom-menu-item--disabled {
  cursor: default;
  opacity: 0.3;
}

.custom-submenu > .szh-menu__item {
  padding: var(--spacing-1) var(--spacing-2);
  margin: 0 var(--spacing-1);
  border-radius: 4px;
  min-width: 160px;
}

.szh-menu__submenu.custom-menu-item {
  padding: var(--spacing-1) var(--spacing-2);
}
.szh-menu__submenu.custom-menu-item:hover {
  background: #f6f7f8;
  color: inherit;
}
.szh-menu__submenu.custom-menu-item > .szh-menu__item {
  padding: 0 16px;
}
