/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/modals/Import/ImportSnippet.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ImportSnippet {
  cursor: default;
  position: relative;
  padding: 32px 40px 24px;
  margin-top: 12px;
  background: var(--secondary-color);
  border-radius: 4px;
}

.ImportSnippet-separator {
  display: block;
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background: rgba(255, 255, 255, 0.24);
}

.ImportSnippet .CodeSnippets-tabs {
  padding: 0;
}

.ImportSnippet-codeSnippets {
  margin-left: calc(var(--spacing-5) * -1);
  margin-right: calc(var(--spacing-5) * -1);
}

.ImportSnippet .CodeMirror-scroll {
  max-height: 200px;
}

.ImportSnippet-docs {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  min-height: 40px;
}
