/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/EntitiesList.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.EntitiesList.with-border {
  border-bottom: 1px solid rgba(37, 40, 61, 0.08);
}

.EntitiesList-title {
  width: 120px;
  height: 30px;
  background: rgba(176, 176, 176, 0.3);
}

.EntitiesList-desc {
  max-width: 640px;
}

.EntitiesList-listItemTitle {
  width: 120px;
  height: 15px;
  background: rgba(176, 176, 176, 0.2);
}

.EntitiesList-listItemDesc {
  width: 120px;
  height: 15px;
  background: rgba(176, 176, 176, 0.1);
}

.EntitiesList-button {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background: rgba(31, 204, 131, 0.1);
}

.EntitiesList.wrapped-content .Content {
  padding: 0;
}
