/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/DataLog/DataLogEditor.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DataLogEditor {
  position: relative;
}

.DataLogEditor .CodeMirror-scroll {
  max-height: 250px;
}

.DataLogEditor-actions {
  position: absolute;
  top: 12px;
  right: 13.6px;
  height: 17.6px;
  padding: 0.8px;
  background: var(--secondary-color);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.15s;
  pointer-events: all;
  z-index: 9;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/DataLog/DataLog.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DataLog {
  border-radius: 4px;
  overflow: hidden;
}

.DataLog-stats {
  background: var(--light-color);
}

.DataLog-statsInfo,
.DataLog-error {
  margin-top: 8px;
}

.DataLog-error {
  display: flex;
  align-items: flex-start;
}

.DataLog-errorIcon {
  flex-shrink: 0;
}

.DataLog-desc {
  padding: 12px 40px;
  font: normal 11px/16px "ia_writer_mono_sregular", monospace;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid #36394f;
}
@media (max-width: 544px) {
  .DataLog-desc {
    font: normal 11px/14px "ia_writer_mono_sregular", monospace;
  }
}

.DataLog-result {
  height: 380px;
}
.DataLog-result .NodeResult .ag {
  height: 380px !important;
}
.DataLog-result .NodeResult .ag .ag-cell-copy-button {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), transparent 25%);
}

.DataLog--fullScreen {
  border-radius: 4px;
  overflow: hidden;
}

.DataLog-result--fullScreen {
  height: 100%;
  min-height: 400px;
}
.DataLog-result--fullScreen .NodeResult .ag {
  height: 100% !important;
}
.DataLog-result--fullScreen .NodeResult .ag .ag-cell-copy-button {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), transparent 25%);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/DataSource/DataSourceSchema.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DataSourceSchema-descriptionList--connected {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: var(--spacing-9);
}
@media (max-width: 1440px) {
  .DataSourceSchema-descriptionList--connected {
    grid-template-columns: 1fr;
    gap: var(--spacing-4);
  }
}
.DataSourceSchema-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.DataSourceSchema-definitions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  gap: var(--spacing-5);
}
.DataSourceSchema-term {
  color: var(--neutral-500-color);
}
.DataSourceSchema-value {
  margin-top: var(--spacing-2);
  color: var(--secondary-color);
}
.DataSourceSchema-value--link {
  cursor: pointer;
  text-decoration: underline;
}
.DataSourceSchema-definition {
  padding-bottom: var(--spacing-4);
}
.DataSourceSchema-engine, .DataSourceSchema-connector {
  display: flex;
  flex-direction: column;
}
.DataSourceSchema-columnType {
  font: var(--font-code);
  color: var(--alternative-color);
}
.DataSourceSchema-columnPath {
  color: var(--neutral-500-color);
}
