/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/NotificationBanner.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.NotificationBanner {
  border-radius: 4px;
}
.NotificationBanner-content {
  display: flex;
  width: 100%;
  margin-right: 24px;
}
.NotificationBanner-contentIcon {
  margin-top: 4px;
}
.NotificationBanner button {
  color: inherit;
  padding: 0;
}
.NotificationBanner-error {
  background-color: #fef3f3;
  color: var(--error-color);
}
.NotificationBanner-info, .NotificationBanner-info a {
  background-color: #ebfaff;
  color: #006180;
}
.NotificationBanner-warn {
  background-color: #fffde9;
}
.NotificationBanner-text {
  font: normal 13px/16px "Inter", system-ui, sans-serif;
  line-height: 24px;
}
@media (max-width: 544px) {
  .NotificationBanner-text {
    font: normal 12px/16px "Inter", system-ui, sans-serif;
  }
}
