/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/GuidedTour/StepBox.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.StepBox {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  transform: translateZ(0);
}

.StepBox-content {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
}
.StepBox-content button {
  justify-self: flex-end;
  align-self: start;
}

.StepBox-image {
  background-color: #ebecef;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.Skip-link {
  text-align: right;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../node_modules/.pnpm/css-loader@6.7.3_webpack@5.75.0/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!../../../../node_modules/.pnpm/postcss-loader@6.2.1_postcss@8.4.21_webpack@5.75.0/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!../../../../node_modules/.pnpm/sass-loader@12.6.0_sass@1.57.1_webpack@5.75.0/node_modules/sass-loader/dist/cjs.js!./src/scss/components/GuidedTour/Steps/WorkspaceCreationGuide.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.StepBox-content.as-bkg--secondary .Field-label,
.StepBox-content.as-bkg--secondary .Form-label {
  color: var(--light-color);
  font-weight: bold;
}
.StepBox-content.as-bkg--secondary svg path {
  fill: var(--tuna-color);
}
.StepBox-content.as-bkg--secondary .tippy-content {
  background: var(--bold-color) !important;
}

.Onboarding-workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Onboarding-workspace-nameInput {
  width: 100%;
  margin-top: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.Onboarding-workspace-radio {
  display: flex;
}
.Onboarding-workspace-radio div {
  margin-right: 24px;
}
.Onboarding-workspace-radio div .Radio:checked + label,
.Onboarding-workspace-radio div .Radio + label {
  color: var(--light-color);
}

.Onboarding-workspace-button {
  margin-left: auto;
}

.Onboarding-workspace-checkbox.flex {
  align-items: flex-start;
}
.Onboarding-workspace-checkbox.flex input {
  margin-top: 3.2px;
}
.Onboarding-workspace-checkbox.flex .Field-label {
  font: normal 14px/24px "Inter", system-ui, sans-serif;
}
@media (max-width: 544px) {
  .Onboarding-workspace-checkbox.flex .Field-label {
    font: normal 14px/24px "Inter", system-ui, sans-serif;
  }
}
