[tool.poetry]
authors = ["Allen Chou <f1470891079@gmail.com>"]
description = "Deploy simple vector similarity search service by duckdb."
license = "MIT"
name = "dvs-py"
packages = [{ include = "dvs" }]
readme = "README.md"
version = "0.3.0"

[tool.poetry.dependencies]
diskcache = "*"
duckdb = ">=0.10.2"
fastapi = { version = "^0", extras = ["standard"] }
numpy = "^2"
openai = "^1"
pydantic = "^2"
pydantic-settings = "*"
python = "^3.12"
uuid-utils = "*"

[tool.poetry.extras]
all = []

[tool.poetry.group.docs.dependencies]
mkdocs-git-authors-plugin = "*"
mkdocs-git-committers-plugin-2 = "*"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-material = "^9"
mkdocs-minify-plugin = "*"
mkdocs-nav-weight = "*"
mkdocs-redirects = "*"
mkdocs-render-swagger-plugin = "*"
neoteroi-mkdocs = "*"

[tool.poetry.group.dev.dependencies]
black = "*"
faker = "*"
isort = "*"
poetry-plugin-export = "^1.6.0"
pytest = "^8"
pytest-asyncio = "*"
pytest-cov = "^4"
pytest-xdist = "^3"
setuptools = ">=69"


[tool.isort]
profile = "black"

[tool.flake8]
ignore = ["E203", "E704", "W503"]
max-line-length = 88


[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
