@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "./sdc_user/sdc_user.style";
@import "./sdc_tools/sdc_tools.style";

body::before {
    content: "SDC Works";
    font-size: larger;
    color: red;
}

body {
    background-color: cornflowerblue;

    .navbar-dummy {
        height: 70px;
    }
}