/* CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #EAEAEA;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    color: #EAEAEA;
    line-height: 1.6;
    padding: 0 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #333;
    max-width: 800px;
    margin: 0 auto;
}

.header h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 1;
    position: relative;
    top: -0.4rem;
}

.header p {
    font-size: 0.8rem;
    color: #B5B5B5;
    margin: 0;
    line-height: 1;
    position: relative;
    top: 0rem;
}

.header-left {
    display: flex;
    align-items: flex-start;
}

.header-logo {
    height: 64px;
    margin-right: 0.5rem;
    align-self: center;
}

.header-right {
    position: relative;
}

.blog-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #EAEAEA;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-toggle i {
    color: #EAEAEA;
    pointer-events: none;
    transition: color 0.3s;
}

.menu-toggle:hover i {
    color: #FE8F00;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-color: #2B2B2B;
    white-space: nowrap;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    border-bottom: 1px solid #444;
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #EAEAEA;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.menu ul li a:hover {
    background-color: #444;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    white-space: nowrap;
}



.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    border-bottom: 1px solid #333;
}

.menu ul li:last-child {
    border-bottom: none;
}

.menu ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #EAEAEA;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.menu ul li a:hover {
    background-color: #444;
}

.main-container {
    flex: 1;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #333;
    font-size: 0.9rem;
    color: #888888;
    margin-top: auto;
}

.blog-list {
    max-width: 800px;
    margin: 2rem auto;
    flex: 1;
}

.post {
    background-color: #2B2B2B;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease;
    align-items: stretch;
}

.post:hover {
    transform: scale(1.02);
}

.post-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.post-image {
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-right: 1px solid #333;
    flex: 1;
}

.post-container {
    background-color: #2B2B2B;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
}

.post-content {
    width: 576px;
    background-color: #2B2B2B;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #FFFFFF;
}

.post-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #C5C5C5;
}

.post-date {
    font-size: 0.9rem;
    color: #888888;
}

@media (max-width: 600px) {
    .post {
        flex-direction: column;
    }

    .post-image {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #333;
    }

    .post-content {
        width: 100%;
    }
}

.blog-post {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.back-button {
    background-color: #444;
    color: #EAEAEA;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 2rem;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #555;
}

.post-image-main {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.post-content h1 {
    font-size: 2rem;
}

.post-content h2 {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
}

.post-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.post-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.post-content ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.post-content img {
    width: 100%;
    height: auto;
    max-width: 60%;
    border-radius: 1px;
    display: block;
    margin: auto;
}

.post-date-main {
    font-size: 0.9rem;
    color: #888888;
    margin-bottom: 1rem;
}

code {
    background-color: #1E1E1E;
    border: 1px solid #333;
    padding: 1px;
    margin: 1rem 0;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 0.9rem;
    color: #EAEAEA;
}

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.error-page h2 {
    font-size: 2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.error-image {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

.header-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.pagination-button {
    background-color: #444;
    color: #EAEAEA;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    transition: background-color 0.3s;
}

.pagination-button.active {
    background-color: #FE8F00;
    color: #000;
    font-weight: bold;
}

.pagination-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-button:hover:not(.disabled) {
    background-color: #FE8F00;
    color: #000;
    font-weight: bold;
}
